<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="<?= PBLC ?>/admin/js/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="<?= PBLC ?>/admin/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="<?= PBLC ?>/admin/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="<?= PBLC ?>/admin/js/custom.js"></script>
    <!-- DATA TABLES SCRIPTS -->
    <script src="<?= PBLC ?>/admin/js/jquery.dataTables.min.js"></script>
    <script src="<?= PBLC ?>/admin/js/index.js"></script>