<div class="row">
    <div class="col-sm-offset-1 col-lg-offset-1 col-md-offset-1 col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <?=$this->text['New track Data']?>
            </div>
            <div class="panel-body">
                <form method="POST" action="/SWC/admin/add_track">
                    <div class="form-group">
                         <label class="control-label" for="trkname"><?=$this->text['trkname']?></label>
                        <input type="text" class="form-control" name='trkname' id="trkname" placeholder="<?=$this->text['trkname']?>" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="obj"><?=$this->text['obj']?></label>
                        <textarea class="form-control" name='obj' id="obj" rows="10" placeholder="<?=$this->text['obj']?> ..."></textarea>
                    </div>    
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>