		<!-- Scripts -->

			<script src="<?= PBLC ?>/guest/js/jquery.min.js"></script>
			<script src="<?= PBLC ?>/guest/js/jquery.scrolly.min.js"></script>
			<script src="<?= PBLC ?>/guest/js/jquery.dropotron.min.js"></script>
			<script src="<?= PBLC ?>/guest/js/jquery.scrollex.min.js"></script>
			<script src="<?= PBLC ?>/guest/js/skel.min.js"></script>
			<script src="<?= PBLC ?>/guest/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="<?= PBLC ?>/guest/js/main.js"></script>
			<script src="<?= PBLC ?>/guest/js/index.js"></script>