<a href="/SWC/admin/addusr" class="btn btn-danger">
	<i class="fa fa-user-plus" ></i>
	<?=$this->text['addusr']?>
</a>
<br>
<table class="table datatable table-bordered table-hover" >
	<thead>
		<th>ID</th>
		<th>Name</th>
		<th>mail</th>
		<th>Type</th>
	</thead>
	<tbody>
		<?php
			foreach ($this->users as $user) 
			{
				?>
					<tr>
						<td><?=$user['identifier']?></td>
						<td><?=$user['name']?></td>
						<td><?=$user['mail']?></td>
						<td><?=$user['type']?></td>
					</tr>
				<?php
			}
		?>
	</tbody>
	<tfoot>
		<th>ID</th>
		<th>Name</th>
		<th>mail</th>
		<th>Type</th>
	</tfoot>
</table>