<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="<?= PBLC ?>/user/js/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="<?= PBLC ?>/user/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="<?= PBLC ?>/user/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="<?= PBLC ?>/user/js/custom.js"></script>