<div class="list-group">
	<a href="#" class=" list-group-item active" title="click here to go to these track ..." >
		<h4 class="list-group-item-heading">Track [<?=$this->information['track_identifier']?>] : <?=$this->information['track_name']?></h4>
		<p class="list-group-item-text" style="line-height: 30px;">
			<?= $this->information['track_objectives'] ?>
		</p>
	</a>
</div>
<div class="list-group">
	<a href="#" class=" list-group-item list-group-item-danger active" title="click here to go to these question ...">
		<h4 class="list-group-item-heading">Question [<?=$this->information['question_identifier']?>] : <?=$this->information['question']?> ... ?</h4>
		<p class="list-group-item-text" style="line-height: 30px;">
		</p>
	</a>
</div>
<?php
	
?>

